<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086456478836-92ip52lusbkcnqqhq8l81l5a2ebgnp47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086456478836-92ip52lusbkcnqqhq8l81l5a2ebgnp47</string>
	<key>API_KEY</key>
	<string>AIzaSyAXeVo0cUOGHWKfLH_mxMM9SrcFiWRknQs</string>
	<key>GCM_SENDER_ID</key>
	<string>1086456478836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thatsend.stacks</string>
	<key>PROJECT_ID</key>
	<string>stacks-330810</string>
	<key>STORAGE_BUCKET</key>
	<string>stacks-330810.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086456478836:ios:cd28914af650909c476521</string>
</dict>
</plist>